.footer {
  .logo {
    @include XYCenter;
    a {
      @include XYCenter;
      svg {
        width: auto;
        height: 125px;
        color: var(--ter);
        fill: var(--secondary);

        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
